html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    overscroll-behavior: none;
  }

 

  #game-menu {
    top : 20%;
    left : 40%;
    position: fixed;
  }
  #human {
    border-radius: 12px;
    font-size: 48px;
    color: black;
    background: #eaaa3e;
  }
  #zombie {
    border-radius: 12px;
    font-size: 48px;
    color: black;
    background: #3eef1a;
  }
  #Choose-your-role {
    font-family: Arial, Helvetica, Verdana, sans-serif; /* Гарнитура шрифта */
    font-size: 48px; /* Размер текста */
    font-weight: bolder;
  }
