html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    overscroll-behavior: none;
  }

  #nameOfPlayer {
    height: 40px;
    width: 200px;
    border-radius: 5px;
  }

  #set {
    font-size: 30px;
    border-radius: 10px;
    color: black;
    background: darkorange
  }

  #name {
    top: 30%;
    left: 40%;
    position: fixed;
  }

  #game-menu {
    top : 20%;
    left : 40%;
    position: fixed;
  }
  #Play {
    border-radius: 10px;
    font-size: 60px;
    color: black;
    background: #3eef1a
  }
  #Welcome {
    font-family: fantasy, Arial, Helvetica, Verdana, sans-serif; /* Гарнитура шрифта */
    font-size: 40px; /* Размер текста */
    font-weight: bolder;
    margin-left: -150px;
    margin-bottom: 80px;
  }

